* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.link {
    color: #000;
    font-size: 14px;
}

.link:hover {
    color: #F25822;
}

.top-content {
    padding-top: 49px;
    padding-bottom: 162px;
    display: flex;
    gap: 41px;
}

.title {
    margin-bottom: 17px;
    color: #000;
    font-size: 60px;
}

.text {
    color: #888;
    font-size: 20px;
    font-weight: 400;
    width: 466px;
}

.top-buttons {
    margin-top: 37px;
    display: flex;
    gap: 36px;
}

.button {
    border: transparent;
    font-size: 15px;
    padding: 15px 36px;
    border-radius: 50px;
    color: #AAA;
    background: transparent;
}

.button:hover {
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #fff;
}

.top-logos {
    padding: 96px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}